@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
@import url(http://fonts.googleapis.com/css?family=Raleway);

@include border-box-sizing; // uses border box sizing like the old IE

$susy: (
        columns: 12,
        container: 60em,
        gutters: 1/4,
        gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

// Add Color Palette
$blue         : #3479cb;
$green        : #45B29D;
$yellow       : #EFC94C;
$orange       : #E27A3F;
$red          : #DF4848;
$pink         : #CD0069;
$purple       : #6C71C4;
$dark         : #353535;
$light        : #FFFFFF;

$backgroundColor  : $dark;
$typeDefault      : $dark;
$navBackground    : $dark;
$navForeground    : $light;
$navHover         : $yellow;
$navBrandBg       : $red;
$headerSubBg      : $dark;

// Font variables
$fontfamily       : 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$smallfont        : 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin             : 200;
$normal           : 400;
$bold             : 600;
$heavy            : 800;

$headFont         : $thin 1.5em/1.5em $fontfamily;
$mainFont         : $thin 1em/1.5em $fontfamily;
$buttonFont       : $thin 1em/1.5em $smallfont;
$headColor        : lighten($blue, 20);